asgiref==3.7.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==4.2.2
django-ninja==0.22.2
docopt==0.6.2
idna==3.4
psycopg2-binary==2.9.6
pydantic==1.10.9
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.6.3
urllib3==2.0.3
yarg==0.1.9
